{{define "body"}}

<div class="container">
    {{if .Cat}}

    <h1>{{.Cat.Title}}</h1>
    <p>{{.Cat.Description}}</p>
    {{end}}
    <table class="responsive-table">
        <thead>
            <tr>
                <th>🧑🏽</th>
                <th>Topic</th>
                <th>Category</th>
                <th class="center-align red-text">❤</th>
                <th class="center-align">💬</th>
                <!-- <th>👀</th> -->
                <th class="center-align">⌚</th>
            </tr>
        </thead>

        <tbody>
            {{range .Posts}}
            <tr>
                <td>
                    <a href="/user/{{.User.Username}}">{{.User.Username}}</a>
                </td>
                <td>
                    <a class="white-text" href="/post/{{.ID}}">{{.Title}}</a>
                </td>
                <td><span class="btn black btn-small">{{.Cat.Title}}</span></td>
                <td class="center-align">{{.Likes.Votes}}</td>
                <td class="center-align">{{len .Comments}}</td>
                <!-- <td></td> -->
                <td class="center-align">{{.FormattedTimePassed}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>

{{end}}
